/* Add CSS Styling */
.odd {
    background-color: rgb(255, 148, 212);
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

#two {
    color: rgb(99, 211, 255);
    font-size: 36px;
}

#three {
    font-size: 24px;
}

#four {
    background-color: rgb(142, 255, 142);
    font-size: 24px;
    font-weight: bold;
}

